/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #1f1e1e;
  color: white;
}
.hidden {
  display: none !important;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/image1.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin-bottom: 10%;
  border-bottom: 1px solid #ec7200;
}
.heading h1 {
  font-size: 4.5rem;
  color: #ec7200;
}
@media (min-width: 767px) {
  .heading h1 {
    font-size: 6.5rem;
  }
}
.what-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #131313;
  padding: 3% 0;
}
@media (min-width: 1100px) {
  .what-section {
    flex-direction: row;
  }
}
.what-section .section-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.what-section .section-head h2 {
  font-size: 3rem;
  margin: 5%;
  color: #ec7200;
}
@media (min-width: 767px) {
  .what-section .section-head h2 {
    font-size: 5rem;
  }
}
.what-section .section-head img {
  width: 100%;
  height: 200px;
}
@media (min-width: 767px) {
  .what-section .section-head img {
    height: 300px;
  }
}
.what-section .section-body {
  width: 100%;
  text-align: center;
}
.what-section .section-body p {
  font-size: 1.6rem;
  padding: 5%;
}
@media (min-width: 767px) {
  .what-section .section-body p {
    font-size: 2.6rem;
  }
}
.team-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.team-section .section-head {
  margin: 5%;
}
.team-section .section-head h2 {
  font-size: 3rem;
  color: #ec7200;
}
@media (min-width: 767px) {
  .team-section .section-head h2 {
    font-size: 5rem;
  }
}
.team-section .section-body {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.team-section .section-body .card {
  margin-bottom: 8%;
  width: 250px;
  height: 200px;
}
.team-section .section-body .card:hover {
  border: 1px solid #ec7200;
}
@media (min-width: 767px) {
  .team-section .section-body .card {
    width: 300px;
    height: 300px;
  }
}
.team-section .section-body .card h3 {
  font-size: 1.6rem;
  text-align: center;
  color: #ec7200;
}
@media (min-width: 767px) {
  .team-section .section-body .card h3 {
    font-size: 2rem;
  }
}
.team-section .section-body .card img {
  width: 100%;
  height: 100%;
}
.team-section .section-body .card .modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.team-section .section-body .card .modal .desc {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #1f1e1e;
  width: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 767px) {
  .team-section .section-body .card .modal .desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
.team-section .section-body .card .modal .desc img {
  width: 90%;
  padding: 5%;
}
@media (min-width: 767px) {
  .team-section .section-body .card .modal .desc img {
    width: 40%;
  }
}
.team-section .section-body .card .modal .desc .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-section .section-body .card .modal .desc .content p {
  font-size: 1.8rem;
  text-align: center;
  width: 90%;
}
@media (min-width: 767px) {
  .team-section .section-body .card .modal .desc .content p {
    font-size: 2.5rem;
  }
}
.team-section .section-body .card .modal .desc .content a {
  margin: 20px;
}
.team-section .section-body .card .modal .desc .content a button {
  font-size: 4rem;
  background-color: #ec7200;
  padding: 5px;
  margin: 5px;
  border: 1px solid #1f1e1e;
}
.team-section .section-body .card .modal .desc .close {
  text-decoration: underline;
}
.team-section .section-body .card .modal .desc .close:hover {
  cursor: pointer;
}
@media (min-width: 1100px) {
  #section2 {
    flex-direction: row-reverse;
  }
}
footer {
  height: 56px;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #ec7200;
}
footer p {
  text-align: center;
  color: #ec7200;
}
@media (min-width: 767px) {
  footer p {
    font-size: 2rem;
  }
}
