footer {
    height: 56px;
    background-color: #0D0D0D;
    .display-flex(center, center, column);

    p {
        text-align: center;
        color: #D9D4CD;

        @media @tablet {
            font-size: 2rem;
        }
    }
}
