nav{
    background-color: @navBarBgColor;
    padding:15px;
    .navTextContainer{
        
        .flexBox(center,row,center);
        a{
            padding:1.5rem;
            text-decoration: none;
            font-size: @pSize;
            color: @navBarColor;
        }
    }
}